.login-section{
  background-image: url(../../assits/photosforlogpages/goatttt.jpeg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center ;
  height: 100vh;
  & > .login-container-main {
    height: 100%;
    & > .container {
      display: grid;
      place-items: center ;
      height: 100%;
      & > .log-in-content {
        background: rgba(0, 114, 255, 0.05);
          box-shadow: -5px -1px 20px 3px rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: .5rem .8rem .8rem;
        & > h2{
          font-size: clamp(2rem, 3rem + 2vw, 5rem);
          font-weight: 400;
          margin: 0;
          font-family: var(--Header-font);
          letter-spacing: 2px;
          -webkit-text-stroke: 3px black;
          text-shadow: -5px 4px 3px black;
        }
        & > .userNameInfo{
          display: flex;
          gap: 5px;
          flex-wrap: wrap;
          & > input {
            padding: .5rem;
            border-radius: 15px;
            border: 2px solid var(--bs-blue);
            color: var(--new-color);
            caret-color: var(--bs-blue);
            background-color: transparent;
            backdrop-filter: blur(35px);
            -webkit-backdrop-filter: blur(35px);
            font-size: 1.3rem;
            font-weight: 600;
            
                        transition: all .3s ease;
            &::placeholder{
              color: var(--main-color-text);
              font-weight: 800;
              word-spacing: 2px;
              font-size: 1.3rem;
              font-family: var(--login-font);
              
            }
            &:focus{
              outline: none;
              border: 2px solid var(--bs-red);
              box-shadow: 0 0 3px 1px var(--bs-red);
            }
            &:hover{
              border: 2px solid var(--bs-red);
              box-shadow: 0 0 3px 1px var(--bs-red);
            }
          }
        }
        & > .userMailInfo{
          display: flex;
          gap: 10px;
          flex-direction: column;
          padding: .5rem 0;
          width: 100%;
          & > input {
            padding: .5rem;
            border-radius: 15px;
            border: 2px solid var(--bs-blue);
            caret-color: var(--bs-blue);
            background-color: transparent;
            backdrop-filter: blur(5px);
            font-size: 1.3rem;
            font-weight: 600;
            position: relative;
            color: var(--main-color-text);
            transition: all .3s ease;
            &::placeholder {
              color: var(--main-color-text);
              font-weight: 800;
                letter-spacing: 2px;
                font-size: 1.3rem;
                font-family: var(--Header-font);
                text-align: center;
                font-size: 1.3rem;
                  font-family: var(--login-font);
              }
            
              &:focus {
                outline: none;
                border: 2px solid var(--bs-red);
                box-shadow: 0 0 3px 1px var(--bs-red);
              }
            
              &:hover {
                border: 2px solid var(--bs-red);
                box-shadow: 0 0 3px 1px var(--bs-red);
              }
          }
          & > .react-international-phone-input-container{
            width: 100%;
            justify-content: center;
            & > .react-international-phone-country-selector{
              & > button {
                background-color: transparent;
                backdrop-filter: blur(5px);
                border-radius:15px ;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: .5rem;
                  border: 2px solid var(--bs-blue);
                &:hover {
                    border: 2px solid var(--bs-red);
                    box-shadow: 0 0 3px 1px var(--bs-red);
                  }
              }
            }
            & > input {
              padding: .5rem;
                border-radius: 15px;
                border: 2px solid var(--bs-blue);
                color: var(--main-color-text);
                caret-color: var(--bs-blue);
                background-color: transparent;
                backdrop-filter: blur(5px);
                font-size: 1.3rem;
                font-weight: 400;
                position: relative;
                border-top-left-radius: 0 ;
                border-bottom-left-radius: 0 ;
                &:focus {
                  outline: none;
                  border: 2px solid var(--bs-red);
                  box-shadow: 0 0 3px 1px var(--bs-red);
                }
              
                &:hover {
                  border: 2px solid var(--bs-red);
                  box-shadow: 0 0 3px 1px var(--bs-red);
                }
            }
          }
        }
        & > .userPassInfo {
          & > .agree {
            display: flex;
            gap: 5px;
            padding: .5rem 0;
            width: 100%;
            font-size: 1.3rem;
            font-weight: 800;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}