@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color-text: #fff;
  --main-color-bg: #3c4251;
  --secound-color-bg: #303541;
  --sub-color-text: #f7db25;
  --sub-color-bg: #fff;
  --text-logo: #000;
  --new-color: #df1a0b;
  --text-font-main: "Roboto", sans-serif;
  --login-font: "Playwrite US Modern", cursive;
  --Header-font: "Bebas Neue", sans-serif;
  --new-text-color-bg:#f35338;
  --new-text-color-text:#f5f7cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--text-font-main);
  background-color: var(--main-color-bg);
  color: var(--main-color-text);
}

ul {
  padding: 0;
  list-style: none;
}
a{
  color: var(--main-color-text);
  text-decoration: none;
}
